*estilos generales*/
/**********************/

*{
	box-sizing: border-box;
}

ul,h1,h2,h3,p,li, figure{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

p{
	line-height: 1.5em;
}

a{
	text-decoration: none;
	/*quitamos la linea inferior a todos los enlaces*/
}

h1,h2,h3{
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

body{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* estructura */

.anchoMaximo{
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 40px;
}

.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex.vertical{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*******************************/
/*zona principal de la página*/
/*******************************/


/*Contenido dentro de las secciones*/

.infoTrabajos {
	padding: 40px 0;
}

.infoTrabajos:nth-child(even){
	background: rgb(47, 71, 122);
	color:#eae9e9;
}

.infoTrabajos header{
	flex-basis: 40%;
	padding-right: 50px;
	text-align: right;
}

 

.infoTrabajos:nth-child(even) header{
	color: #ffffff;
}

.infoTrabajos header p{
	font-family: Raleway, sans-serif;
	font-size: 1.3em;
	font-weight: 600;

}

.infoTrabajos .Columna{
	flex-basis: 30%;
	padding: 0 15px;
}

 
.infoTrabajos h2{
	margin-bottom: 15px;
	font-size: 2em;
 
}

.infoTrabajos:last-of-type{
	/*la última sección no debe tener 
	una linea en el borde inferior.
	También le quitamos el margen inferior para que no 
	aparezca tanto hueco en la parte final*/
	border: none;
	margin-bottom: 0;
}

 
.infoTrabajos h3{
	margin: 1.5em 0;
	font-size: 1.2em;
}

.infoTrabajos:nth-child(even) h3{
	color:#eae9e9;
}

.boton{
	display: inline-block;
	padding: 1em;
	margin-top: 1.5em;
	background: #FFF;
	border: 1px solid #DEDEDE;
 
	border-radius: 10px;	
	color: #8C8C8C;
	font-size: 0.8em;
}


.boton:hover{
	background: #2F477A;
	color:#FFF;
	border-color:#2F477A;
 
}

.infoTrabajos:nth-child(even) .boton:hover{
	background:#223662;
}
 
 
figure img{
	width: 100%; /*la imagen ocupa el 100% de la columna*/
 
}

