/* Fomulario */
form{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 25px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.formulario div{
    padding: 10px;
  }
 
  .nombre{
    background: #ffc978;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 50%);
  }
 
  .botonEnviar{
    background: rgb(255 173 103);
    width: 100%;
    border-radius: 10px;
    color: rgb(133 76 7);
    font-weight: bold;
    font-size: 2.5em;
    border: none;
  }

  .botonEnviar:hover{
    background: orange;
    color: white;
  }
 
 .formulario a{
    color: white;
    text-decoration: none;
 }
 
 .formulario a:hover{
    background: black;
    color: rgba(249, 249, 249, 0.748);
 }

 .filaFlex{
    display: flex;
    justify-content: space-around;
   
 }

 .ancho40{
    flex-basis: 40%;
 }

 .alineacion{
    text-align: center;
    max-width: 1200px;
    margin: 50px auto 10px auto;
 }

 .alineacion p{
   margin-top: 20px;
 }

 textarea{
    width: 100%;
    background: #ffc978;
    font-size: 1.5em;
 }

